/* 演習に必要な設定（消さないでください） */
body, h1, h2, p, form, input, ul {
    margin: 0;
    padding: 0;
  }
  /* 設定ここまで */
  body {
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    background-color: thistle;
  }
  

  .char{
      margin:10px auto;
      text-align: center;
  }
  .battlebtn{
      height:40px;
  }
  .start{
    display: none;
    width:100px;
  }
  .starts{
    display: none;
    width:100px;
    animation-name: starts;
    animation-duration: 1s;
    animation-iteration-count: 1;
    color:black;
  } 
@keyframes starts{
    0%{opacity: 0;}
    40%{opacity: 0;}
    100%{opacity: 1;}
}
#tyuui{
    display:none;
    background-color: crimson;
    color: aliceblue;
}

.flex{
    display: flex;
    width:300px;
    margin-left:60px;
}

  .reset{
      display: none;
      margin:0 auto;
      width: 250px;
      background-color: black;
      color: aliceblue;
  }


  .logarea{
      height:130px;
      width:80%;
      margin:0 auto;
      padding:10px;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: aliceblue;
      position:relative;
      color:white;
  }
.defoult{
    color:aliceblue;
}
.notdefault{
    width:100%;
    font-size:30px;
    animation-name: notdefault;
    animation-duration: 3s;
    animation-iteration-count: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes notdefault{
    0%{opacity: 0;}
    40%{opacity: 0;}
    100%{opacity: 1;}
}
.notdefaulttwo{
    width:100%;
    animation-name: notdefaulttwo;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes notdefaulttwo{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

    .winerbig{
    top:0px;
    width:100%;
    height:100%;
    background-color:  rgb(241, 57, 97);
    color:white;
}
.loserbig{
    top:0px;
    width:100%;
    height:100%;
    background-color:  rgb(29, 0, 37);
    color:white;
}

.logtext{opacity: 0;}

.logone{
    animation-name: one;
    animation-duration: 8.5s;
    animation-iteration-count: 1;
    color:black;
}
@keyframes one{
    0%{opacity: 0;}
        88.23%{opacity: 0;}
        94.11%{opacity: 0;}
        100%{opacity: 1;}}
.logtwo{
    animation-name: two;
    animation-duration: 7s;
    animation-iteration-count: 1;
    color:black;
}
@keyframes two{
    0%{opacity: 0;}
        85.71%{opacity: 0;}
        92.85%{opacity: 1;}
        100%{opacity: 1;}}
.logthree{
    animation-name: three;
    animation-duration: 5.5s;
    animation-iteration-count: 1;
    color:black;
}
@keyframes three{
    0%{opacity: 0;}
        81.81%{opacity: 0;}
        87.5%{opacity: 1;}
        100%{opacity: 1;}}
.logfour{
    animation-name: four;
    animation-duration: 4s;
    animation-iteration-count: 1;
    color:black;
}
@keyframes four{
    0%{opacity: 0;}
    75%{opacity: 0;}
    87.5%{opacity: 1;}
    100%{opacity: 1;}}
.logfive{
    animation-name: five;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    color:black;
}
@keyframes five{
    0%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 1;}
}
.logsix{
    animation-name: six;
    animation-duration: 1s;
    animation-iteration-count: 1;
    color:black;
}
@keyframes six{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}}
.animation{
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: 1;
    line-height: 16px;
    color:black;
}
@keyframes animation{
    0%{position: relative; top: -83.33px; }
    10%{position: relative; top: -83.33px; }
    15%{position: relative; top: -66.66px; }
    25%{position: relative; top: -66.66px; }
    30%{position: relative; top: -50px; }
    40%{position: relative; top: -50px; }
    45%{position: relative; top: -33.33px; }
    55%{position: relative; top: -33.33px; }
    60%{position: relative; top: -16.66px; }
    70%{position: relative; top: -16.66px; }
    75%{position: relative; top: 0px; }
    85%{position: relative; top: 0px; }
    90%{position: relative; top: 0px; }
    100%{}}


/* HPゲージ */
#life-frame {
    margin: 0 auto;
    width: 400px;
    height: 7px;
    background-color: rgba(0, 50, 29, 0.6);
    display: flex;
    padding: 3px 3px;
}
#life-bar {
    height:80%;
    background-color: rgb(0, 255, 13);
    transition: 2.5s;
}
#life-frametwo {
    margin: 0 auto;
    width: 400px;
    height: 7px;
    background-color: rgba(3, 0, 34, 0.6);
    display: flex;
    padding: 3px 3px;
}
#life-bartwo {
    height:80%;
    background-color: rgb(9, 255, 243);
    transition: 2.5s;
}
.hp{
    margin:15px 80px auto;
    display:flex;
    gap:10px 70px;
}
@media (max-width: 800px) {
    #life-frame {
        margin: 0 auto;
        width: 300px;
        background-color: rgba(0, 50, 29, 0.6);
        display: flex;
        padding: 1px 1px;
    }
    
    #life-bar {
        height:80%;
        background-color: rgb(0, 255, 13);
        transition: 2.5s;
    }
    #life-frametwo {
        margin: 0 auto;
        width: 300px;
        background-color: rgba(3, 0, 34, 0.6);
        display: flex;
        padding: 1px 1px;
    }
    #life-bartwo {
        height:80%;
        background-color: rgb(9, 255, 243);
        transition: 2.5s;
    }
    .hp{
        margin:15px 30px auto;
        display:flex;
        gap:5px 20px;
    }
    }
/*　HPここまで　*/


#namearea{
    width: 80%;
    margin:0 auto;
    display:flex;
    padding-top: 20px;
}
@media (max-width: 800px) {#namearea{width:90%;padding-top: 20px;}}

.none{
    display:none;
}
.height{
    height:30px;
}

.menu{
    background-color: antiquewhite;
    padding-top: 30px;
    padding-bottom: 30px;
    width:80%;
    margin:0 auto;
    display: flex;
    gap:10px 70px;
    justify-content: center;
}
@media (max-width: 700px) {
    /*　画面サイズ 499pxまで適用／★★以上ならmin-width　*/
    .menu{width:100%}
    }
#mymenu{
    text-align: left;
    display: none;
}
#mymenutwo{
    text-align: left;
    display: none;
}
#mymenuthree{
    text-align: left;
    display: none;
}
#mymenufour{
    text-align: left;
    display: none;
}

#confirm{
    width:150px;
    border:1px rgb(252, 255, 101) solid;
    border-radius: 30px;
    background-color: rgb(255, 248, 147);
}
